<div class="top-bar">

  <div style="margin: auto; text-align: center; font-size: xxx-large;" class="title">
<!--      <b>00:0{{time}}</b>-->
    <b> Click the correct image </b>
  </div>

</div>

<div  class="img-container" [style.backgroundColor]="config.containerBackgroundColor"
(wheel)="scrollZoom($event)" >

<div  class="imageWrapper image-overlay">
  <img *ngIf="time>3" [hidden]="!loading" [src]="src[index]" (click)="onClick(1)" class="overlayImage1 img-sd"  [ngStyle]="style" alt="Image not found..."  (load)="onLoad()" (loadstart)="onLoadStart()"/>
  <img *ngIf="time<4" [hidden]="!loading" src="https://cdn3.iconfinder.com/data/icons/touch-gesture-outline/512/double_click_touch_click_finger_hand_select_gesture-512.png" [ngClass]="cl" (mouseover)="cl='hover'" (mouseout)="cl='nohover'" (click)="onClick(1)" class="overlayImage1 img-sd"  [ngStyle]="style" alt="Click to Select"  (load)="onLoad()" (loadstart)="onLoadStart()"/>
  <img *ngIf="loading" class="overlayImage img-sd "  [ngStyle]="style" alt="Image not found..."   (loadstart)="onLoadStart()" src="https://media.tenor.com/images/e549f9798674301c5af2c91581194091/tenor.gif">
</div>
<div  class="imageWrapper image-overlay">
  <img *ngIf="time>3" [hidden]="!loading1" class="overlayImage1 img-sd" (click)="onClick(2)" [src]="src2[index]" [ngStyle]="style" alt="Image not found..."  (load)="onLoad1()" (loadstart)="onLoadStart()"/>
  <img *ngIf="time<4" [hidden]="!loading1" src="https://cdn3.iconfinder.com/data/icons/touch-gesture-outline/512/double_click_touch_click_finger_hand_select_gesture-512.png" [ngClass]="cl1" (mouseover)="cl1='hover'" (mouseout)="cl1='nohover'" (click)="onClick(2)" class="overlayImage1 img-sd"  [ngStyle]="style" alt="Click to Select"  (load)="onLoad()" (loadstart)="onLoadStart()"/>
  <img *ngIf="loading1" class="overlayImage img-sd "  [ngStyle]="style" alt="Image not found..."   (loadstart)="onLoadStart()" src="https://media.tenor.com/images/e549f9798674301c5af2c91581194091/tenor.gif">

</div>
<!-- <img class="image-overlay" [src]="src2[index1]" [ngStyle]="style" alt="Image not found..."  (load)="onLoad()" (loadstart)="onLoadStart()"/> -->

<!--<div  class="imageWrapper image-overlay">-->
<!--  <img [hidden]="!loading2" class="overlayImage1 img-sd" [ngClass]="cl2" (mouseover)="cl2='hover'" (mouseout)="cl2='nohover'" (click)="onClick(3)" [src]="src3[index]" [ngStyle]="style" alt="Image not found..."  (load)="onLoad2()" (loadstart)="onLoadStart()"/>-->
<!--  <img *ngIf="loading2" class="overlayImage img-sd "  [ngStyle]="style" alt="Image not found..."   (loadstart)="onLoadStart()" src="https://media.tenor.com/images/e549f9798674301c5af2c91581194091/tenor.gif">-->

<!--</div>-->
 </div>
 <div style="text-align: center; margin: 42px auto; color: white;">{{index}} Completed / {{50-index}} Remaining</div>


<!-- <div  class="img-container" [style.backgroundColor]="config.containerBackgroundColor">
  <div style="width: 33%;padding: 20px 250px; font-size: large; font-weight: 1000;">Original Image</div>
  <div style="width: 33%;padding: 20px 160px 20px 0px;font-size: large; font-weight: 1000;">Masks</div>
  <div style="width: 33%;padding: 20px 150px;font-size: large; font-weight: 1000;">Masked overlay Image</div> -->

<!-- <img [src]="src2[index]" [ngStyle]="style" alt="Image not found..."  (load)="onLoad()" (loadstart)="onLoadStart()"/> -->
<!-- Div below will be used to hide the 'ghost' image when dragging -->
<!-- <div></div>
<div class="spinner-container" *ngIf="loading">
<div class="spinner"></div>
</div> -->

<!-- <button type="button" [class]="config.btnClass" *ngIf="config.btnShow.rotateCounterClockwise" (click)="rotateCounterClockwise()">
<span [class]="config.btnIcons.rotateCounterClockwise"></span>
</button>
<button type="button" [class]="config.btnClass" *ngIf="config.btnShow.rotateClockwise" (click)="rotateClockwise()">
<span [class]="config.btnIcons.rotateClockwise"></span>
</button>

<button type="button" [class]="config.btnClass" *ngIf="config.btnShow.zoomOut" (click)="zoomOut()">
<span [class]="config.btnIcons.zoomOut"></span>
</button>
<button type="button" [class]="config.btnClass" *ngIf="config.btnShow.zoomIn" (click)="zoomIn()">
<span [class]="config.btnIcons.zoomIn"></span>
</button> -->

<!-- <button type="button" [class]="config.btnClass" *ngFor="let cBtn of config.customBtns" (click)="fireCustomEvent(cBtn.name, index)"> -->
<!-- <span [class]="cBtn.icon"></span> -->
<!-- </button> -->

<!-- <button type="button" id="ngx-fs-btn" [class]="config.btnClass" (click)="toggleFullscreen()" *ngIf="config.allowFullscreen">
<span [class]="config.btnIcons.fullscreen"></span>
</button> -->

<!-- <div class="nav-button-container" *ngIf="src.length > 1">
<button type="button" [class]="config.btnClass" (click)="prevImage($event)" [disabled]="index === 0">
 <span [class]="config.btnIcons.prev"></span>
</button>
<button type="button" [class]="config.btnClass" (click)="nextImage($event)" [disabled]="index === src.length - 1">
 <span [class]="config.btnIcons.next"></span>
</button>
</div> -->

<!-- </div> -->
