<div style="width: 47%;
margin: 12% auto;
text-align: center; ">
  <mat-card style="padding: 30px;" class="example-card">
    <mat-card-header style="text-align: center;margin: auto; display: inline;"  >
      <mat-card-title >{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-top: 30px;font-size: large;text-align: left">
      <span style="white-space:pre-wrap;">{{text}}</span>
    </mat-card-content>
    <mat-card-actions>
      <button  *ngIf="batch!='03'" style="text-align: center;margin: 0 auto" mat-raised-button (click)="login()" color="primary">{{button_title}}
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <!-- <div *ngIf="batch!=null" style="text-align: center; margin: 40px auto; color: white;">{{batch}} Completed / {{batch}} Remaining</div> -->
</div>
